In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
import webbrowser
website = 'https://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [8]:
nfl_frame=pd.read_clipboard()
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
0,1,Green Bay Packers,751,567,37,0.568,1921,1355,NFC North
1,2,Chicago Bears,758,573,42,0.567,1920,1373,NFC North
2,3,Dallas Cowboys,515,392,6,0.567,1960,913,NFC East
3,4,Miami Dolphins,449,355,4,0.558,1966,808,AFC East
4,5,New England Patriots,490,399,9,0.551,1960,898,AFC East

In [9]:
nfl_frame.columns

Index([u'Rank', u'Team', u'Won', u'Lost', u'Tied*', u'Pct.', u'First Season',
       u'Total Games', u'Conference'],
      dtype='object')

In [10]:
nfl_frame.Rank

0    1
1    2
2    3
3    4
4    5
Name: Rank, dtype: int64

In [11]:
nfl_frame.Lost

0    567
1    573
2    392
3    355
4    399
Name: Lost, dtype: int64

In [13]:
DataFrame(nfl_frame,columns=['Team','First Season','Total Games'])

                   Team  First Season  Total Games
0     Green Bay Packers          1921         1355
1         Chicago Bears          1920         1373
2        Dallas Cowboys          1960          913
3        Miami Dolphins          1966          808
4  New England Patriots          1960          898

In [16]:
nfl_frame.tail(2)

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
3,4,Miami Dolphins,449,355,4,0.558,1966,808,AFC East
4,5,New England Patriots,490,399,9,0.551,1960,898,AFC East

In [17]:
nfl_frame.ix[3]

Rank                         4
Team            Miami Dolphins
Won                        449
Lost                       355
Tied*                        4
Pct.                     0.558
First Season              1966
Total Games                808
Conference            AFC East
Name: 3, dtype: object

In [18]:
nfl_frame['Stadium']="Levis Stadium"
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference,Stadium
0,1,Green Bay Packers,751,567,37,0.568,1921,1355,NFC North,Levis Stadium
1,2,Chicago Bears,758,573,42,0.567,1920,1373,NFC North,Levis Stadium
2,3,Dallas Cowboys,515,392,6,0.567,1960,913,NFC East,Levis Stadium
3,4,Miami Dolphins,449,355,4,0.558,1966,808,AFC East,Levis Stadium
4,5,New England Patriots,490,399,9,0.551,1960,898,AFC East,Levis Stadium

In [21]:
nfl_frame['Stadium'] = np.arange(5)
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference,Stadium
0,1,Green Bay Packers,751,567,37,0.568,1921,1355,NFC North,0
1,2,Chicago Bears,758,573,42,0.567,1920,1373,NFC North,1
2,3,Dallas Cowboys,515,392,6,0.567,1960,913,NFC East,2
3,4,Miami Dolphins,449,355,4,0.558,1966,808,AFC East,3
4,5,New England Patriots,490,399,9,0.551,1960,898,AFC East,4

In [22]:
stadiums = Series(["Levi's Stadium","AT&T Stadium"],index=[4,0])
stadiums

4    Levi's Stadium
0      AT&T Stadium
dtype: object

In [23]:
nfl_frame['Stadium'] = stadiums

In [24]:
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference,Stadium
0,1,Green Bay Packers,751,567,37,0.568,1921,1355,NFC North,AT&T Stadium
1,2,Chicago Bears,758,573,42,0.567,1920,1373,NFC North,NaN
2,3,Dallas Cowboys,515,392,6,0.567,1960,913,NFC East,NaN
3,4,Miami Dolphins,449,355,4,0.558,1966,808,AFC East,NaN
4,5,New England Patriots,490,399,9,0.551,1960,898,AFC East,Levi's Stadium

In [30]:
#del nfl_frame['Stadium']
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
0,1,Green Bay Packers,751,567,37,0.568,1921,1355,NFC North
1,2,Chicago Bears,758,573,42,0.567,1920,1373,NFC North
2,3,Dallas Cowboys,515,392,6,0.567,1960,913,NFC East
3,4,Miami Dolphins,449,355,4,0.558,1966,808,AFC East
4,5,New England Patriots,490,399,9,0.551,1960,898,AFC East

In [31]:
data={'City':['SF','LA','NYC'],'Population':[837000,3880000,8400000]}

In [32]:
city_frame = DataFrame(data)

In [33]:
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000

In [35]:
website = 'http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html'
webbrowser.open(website)

True